<launch>
    
    
    <!--<include file="$(find zed_wrapper)/launch/zed.launch" />-->
    

    <node pkg="sensors" type="imu" name="imu" />
    <node pkg="sensors" type="heading_controller_c.py" name="heading_controller_c" />
    <node pkg="sensors" type="motors.py" name="motors" />


    <!--<node pkg="boat" type="color_detector_server.py" name="color_detector_server" />-->
    <!--<node pkg="boat" type="detector_node2.py" name="detector" />-->
    

    <!--<node pkg="communication" type="Py2_ROS_Boat_Http_Server.py" name="status" />-->

    <node pkg="communication" type="servidor.py" name="servidor" />
    <node pkg="map_image" type="evadir_objetos.py" name="evadir_objectos" />

    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />
    

</launch>
