<launch>

    <node pkg="sensors" type="imu" name="imu" />

    <node pkg="sensors" type="asmc" name="asmc" />

    <node pkg="sensors" type="motors.py" name="motors" />

    <node pkg="sensors" type="cs_vh_2.py" name="cs_vh_2" />

    <!--Launch rosbag to record topics -->
    <node type="record" pkg="rosbag" name="recorder" args="record -a -o /home/nvidia/catkin_ws/src/sensors/bags/0,7_speed_0,1_heading" />

</launch>
