<launch>

    <node pkg="sensors" type="imu" name="imu" />

    <node pkg="sensors" type="asmc" name="asmc" />

    <node pkg="sensors" type="motors.py" name="motors" />

    <node pkg="sensors" type="cs_ch_2.py" name="cs_ch_2" />

    <!--Launch rosbag to record topics -->
    <node type="record" pkg="rosbag" name="recorder" args="record -a -o /media/nvidia/E161-1B949/asmc/1_speed_ref_heading" />

</launch>
